
@{
    ViewBag.Title = "Categoria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="index.html">Mantenimiento</a></li>
    <li class="breadcrumb-item active">Categorias</li>
</ol>


<div class="card">
    <div class="card-header">
        <i class="fas fa-users me-1"></i> Lista de Categorias
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-success" onclick="abrirModal(null)">Nueva Categoria</button>
            </div>
        </div>

        <hr />

        <table id="tabla" class="display cell-border" style="width:100%">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                   
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

</div>



<!-- Modal -->
<div class="modal fade" id="FormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Categorias</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body ">

                <input id="txtid" type="hidden" value="0" />

                <div class="row g-1">
                    <div class="col-sm-6">
                        <label for="exampleFormControlInput1" class="col-form-label">Nombre</label>
                        <input type="text" class="form-control" id="txtnombres" autocomplete="off" />
                    </div>
                    <div class="col-sm-6">
                        <label for="exampleFormControlInput1" class="col-form-label">Descripcion</label>
                        <input type="text" class="form-control" id="txtdescripcion" autocomplete="off" />
                    </div>
                   
                </div>

                <div class=" row">
                    <div class="col-12">
                        <div id="mensajeError" class="alert alert-danger" role="alert">
                            A simple danger alert

                        </div>
                    </div>

                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="Guardar()">Guardar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>

        var tabladata;
        var filaSeleccionada;



        tabladata = $("#tabla").DataTable({
            responsive: true,
            ordering: false,
            "ajax": {
                url: '@Url.Action("ListarCategoria", "Mantenedor")',
                type: "GET",
                dataType: "json"
            },
            "columns": [
                { "data": "Nombre" },
                { "data": "Descripcion" },
               


                {
                    "defaultContent": '<button type="button" class="btn btn-primary btn-sm btn-editar"><i class="fas fa-pen me-1"></i></button>' +
                        '<button type="button" class="btn btn-danger btn-sm ms-2 btn-eliminar"><i class="fas fa-trash me-1"></i></button>' ,

                    "orderable": false,
                    "searchable": false,
                    "width": "90px"
                }
            ],
            "language": {
                "url":"http://cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish_Mexico.json"
            }


        });

        function abrirModal(json) {

            $("#txtnombres").val("");
            $("#txtdescripcion").val("")
           


            $("#mensajeError").hide();

            if (json != null) {

                $("#txtid").val(json.IdCategoria);
                $("#txtnombres").val(json.Nombre);
                $("#txtdescripcion").val(json.Descripcion)
         
            }

            $("#FormModal").modal("show");
        }

        //BOTON EDITAR

        $("#tabla tbody").on("click", '.btn-editar', function () {
            filaSeleccionada = $(this).closest("tr");

            var data = tabladata.row(filaSeleccionada).data();

            abrirModal(data)

        })

        //BOTON ELIMINAR

        $("#tabla tbody").on("click", '.btn-eliminar', function () {

            var categoriaSeleccionada = $(this).closest("tr");

            var data = tabladata.row(categoriaSeleccionada).data();

            swal({
                title: "Estas Seguro?",
                text: "No podras recuperar la categoria nuevamente!",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-primary",
                confirmButtonText: "Si",
                cancelButtonText: "No",
                closeOnConfirm: true
            },

            function () {
                    jQuery.ajax({
                        url: '@Url.Action("EliminarCategoria", "Mantenedor")',
                        type: "POST",
                        data: JSON.stringify({ id: data.IdCategoria }),
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {

                            if (data.resultado) {

                                tabladata.row(categoriaSeleccionada).remove().draw();

                            } else {
                                swal("No se pudo eliminar", data.mensaje, "error")
                            }

                        },
                        error: function (error) {
                            console.log(error)

                        },
                    });


            });

            console.log(data);

        })




        function Guardar() {
            var Categoria = {
            IdCategoria: $("#txtid").val(),
            Nombre: $("#txtnombres").val(),
            Descripcion: $("#txtdescripcion").val(),
            
        }

            var url = '@Url.Action("GuardarCategoria", "Mantenedor")';
            console.log("URL:", url);

           jQuery.ajax({
              url: url,
              type: "POST",
               data: JSON.stringify({ objeto: Categoria }),
              dataType: "json",
              contentType: "application/json; charset=utf-8",
               success: function (data) {
                   console.log("Data received:", data);
                   $(".modal-body").LoadingOverlay("hide");

                   if (Categoria.IdCategoria == 0) {

                       if (data.resultado != 0) {
                           Categoria.IdCategoria = data.resultado;
                           tabladata.row.add(Categoria).draw(false);
                           $("#FormModal").modal("hide");
                       } else {
                           alert(data.mensaje);
                       }
                   } else {
                       tabladata.row(filaSeleccionada).data(Categoria).draw(false);
                       $("#FormModal").modal("hide");
                   }



               },
               error: function (error) {
                   $(".modal-body").LoadingOverlay("hide");
                   $("#mensajeError").text("Error Ajax");
                   $("#mensajeError").show();
               },
               beforeSend: function () {
                   $(".modal-body").LoadingOverlay("show"), {
                       imageResizeFactor: 2,
                       text: "Cargando...",
                       size:14
                   }

               }
           });

            $("#FormModal").modal("hide");

        }









    </script>
}
